* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

#map-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(img/indoor-dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    overflow: hidden;
}

/* .canvas-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
} */

/* .mycanvas {
    width: 100%;
    height: 100%;
} */

/* SITE-HEADER SITE-NAV SITE-NAV */

nav {
    max-width: 175px;
}

nav h2 {
    color: white;
}

nav li {
    list-style: none;
}

nav ul {
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
    padding: 1em 0;
    font-size: 1.4rem;
    transition: all ease-out 250ms;
}

nav button {
    color: white;
    background-color: transparent;
    border: none;
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 1em 0;
    font-size: 1.4rem;
}

.side-nav {
    padding-top: 3em;
    padding-bottom: 2em;
    width: 300px;
    min-height: 100vh;
    background-color: transparent;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}